version: 2.1

checkout:
  post:
    - >
      if [ -n "$CI_PULL_REQUEST" ]; then
        PR_ID=${CI_PULL_REQUEST##*/}
        git fetch origin +refs/pull/$PR_ID/merge:
        git checkout -qf FETCH_HEAD
      fi

executors:
  py36:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/cloudify-nsx-t-plugin

commands:
  run_unittest:
    steps:
      - checkout
      - run:
          name: install tox
          command: pip install --user tox
      - run:
          name: Run Flake8
          command: /home/circleci/.local/bin/tox -e flake8
      - run:
         name: Run nosetest
         command: /home/circleci/.local/bin/tox -e nosetests

jobs:
  unittests:
    executor: py36
    steps:
      - run_unittest

workflows:
  version: 2
  tests:
    jobs:
      - unittests
